# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm project files
.idea/

# VSCode project files (if you use it too)
.vscode/

# Logs
*.log

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/

# macOS system files
.DS_Store
